body {
  background-color: #0f525a;
}

canvas {
  border: 2px solid #0f525a;
}

#map-canvas {
  background-image: url("../images/world_map.jpg");
  background-size: 800px 650px;
  background-repeat: no-repeat;
}

#game-area {
  width: 1012px;
  margin: 0 auto;
  position: relative;
}

#game-canvas {
  background-image: url("../images/scroll_long.gif");
  background-size: 200px 650px;
  background-repeat: no-repeat;
}

.menu {
  width: 800px;
  height: 650px;
  background-image: url("../images/scroll.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: 6px;
  left: 2px;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: cursive;
}

.title {
  background-image: url("../images/sword.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 86px;
  width: 500px;
}

h1 {
  font-size: 48px;
  margin: 0;
}

.title h1 {
  font-size: 48px;
  color: brown;
  margin: 0 75px;
  padding-bottom: 10px
}

label {
  font-weight: bold;
}

p {
  margin: 0;
  max-width: 500px;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

a:hover {
  color: teal;
}

.menu-nav{
  width: 500px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: center;
}

li {
  max-width: 500px;
}

.dialog {
  background-size: 75%;
}

#dialog-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 250px;
  font-size: 20px;
  font-weight: bold;
}

#sandbox-canvas {
  background-image: url("../images/sandbox.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#sandbox-text {
  width: 500px;
  height: 75px;
  overflow: auto;
}

.close {
  z-index: -1;
}

.open {
  z-index: 10;
}
